*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #B3DEC1;
    
}
.container{
text-align: center;
height: 70vh;
display: grid;
justify-content: center;
align-items: center;
text-align: center;
gap: 20px;
position: relative;
}
/* this is top part of our game with start button and winner message */
.top{
    display: grid;
justify-content: center;
align-items: center;
text-align: center;
}
.tops{
  width: 170px;
    margin-top: 10px;
    background-color: darkkhaki;
    color: firebrick;
      border-radius: 13px;
}
.tops h1{
    padding: 12px;
}
.tops h2{
    color: white;
   border: 1px solid black;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
background-color: chocolate;
}
.restart{
     background-color: rgb(100, 112, 69);
    color:white;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
   border: none;
 margin-top: 10px;
}

/* start part of box and main part use here 9 button */

.holl{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    color: coral;
    background-color: beige;
    border-radius: 10px;
    border: none;
}

.hide{
    display: none;
}

/* congratulation image */
.cgtx {
    text-align: center;
    align-items: center;
    height: 300px;
    width: 400px;
    background-color:#797A9E;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 35%;
}
.cgtx h1{ 
    background-color: hotpink;
    color: white;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom:40px;
}
.cgtx h3{
    margin-top: 20px;
}
.pops{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top:20px;
}
#pop{
    /* border: 2px solid black; */
    padding: 10px;
    background-color: mediumpurple;
    color: white;
    border-radius: 10px;
    width: 50%;
}
